
.logIn{
    font-weight: 700;
    color:#74b72e;
}
.icon{
    width: 150px;
    height: 150px;
    background:url(img/icon.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 15%;
}

@media (max-width: 1050px) {
    .icon {
      left: 10%;
    }
}

@media (max-width: 767px) {
    .icon {
      display: none;
    }
}
/* home section */
#home-sec{

    background: url(img/home1.jpg) ;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.home-heading{
    font-family: sharp; 
    font-size: 2.5rem;
}
.home-paragraph{
    font-family: century gothic;
    font-size: larger;
}
@media(max-width: 767px){
    .home-heading{
        font-size: 1rem;
    }
    .home-paragraph,.book{
        font-size: smaller;
        /* text-align: justify; */
    }
   
}
@media(max-width: 575px){
    .text-for-mobile{
       width: 75%;
       text-align: justify;
    }
}
.imgbtn{
    background-color:white;
     /* padding: 1rem 2rem;  */
     color: #74b72e;
     border: 1px solid #74b72e;
     border-radius: 4px;
     margin-bottom: 1rem;
     /* margin-top: 2rem; */
}
.imgbtn:hover{
    background-color: #74b72e;
    color: white;
}
.img-text{
    margin-top:10%;
    margin-bottom: 10%;
}
 /* For mobile Screen */

@media (max-width: 767px) {
    .img-text {
      margin: 0%;
    
    }

}

   /* For mobile Screen end*/
   


/* book section */
.book-sec,.join-sec{
    background:#74b72e;
}
.book,.join{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  .bookbtn{
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 2px solid white;
}

  .bookbtn:hover{
    background-color: white !important;
    color: #74b72e;
}
@media (max-width: 768px) {
    .book{
        padding: 0%;
        font-size:xx-small;
    }
    .bookbtn{
        padding: 0%;
    }
}
 /* book section */
  
  /* For mobile Screen */


   /* For mobile Screen end*/
   


  /* section 2 */
  #page2{
    background: url(img/page2.jpg);
    width: 100%;
    /* height: 100vh; */
    background-position: center;
    background-size: cover;
}
  .option{
    border: 2px solid rgb(0, 162, 255);
    height:7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 2rem;
    
}
.option:hover{
    color: white;
    background-color:rgb(0, 162, 255);
    margin: 0;
    height: 9rem;
    text-align: center ;
    display: flex;
    align-items: center;
}

.page-2-text{
    width: 50%;
    text-align: center;
}


@media (max-width: 767px) {
    .page-2-text{
        width: 100%;
    }
    .page2-para{
        font-size: small !important;
        text-align: justify;  
    }
    .page2-heading{
        padding-top: 0% !important;
        font-size: large !important;
    }
  }


  /* page3 */
  .page3-option{
    border: 2px solid rgb(0, 162, 255);
    height:5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 2rem;
    width: auto;
    text-align: center;
    
}
.page3-option:hover{
    color: white;
    background-color:rgb(0, 162, 255);
    margin: 0;
    height: 7rem;
    text-align: center ;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .page3-para{
        width:100% !important;

    }
    .page3-heading{
        padding: 0% !important;
    }
}

@media (max-width: 575px) {
    .page3-mobile{
        width: 50%;
        font-size: small;
    }
}



.shadow-hr {
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.5);
}

/* page4 */
#page4{
    background-image: url(img/blue.jpg);
    width: 100%;
    background-size: cover;
}

.page4-option{
    border: 2px solid transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
   
    width: auto;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    background-color: white;
   
  }
  
.page4-option:hover{
    color: white;
    background-color:rgb(0, 162, 255);
    margin: 0;
    height:10rem ;
    text-align: center ;
}

.page-4-text{
    width: 50%;
    text-align: center;
    color: white;
    
}

@media (max-width: 768px){
    .col-sm-hide{
        display: none;
    }
}
@media (max-width: 767px) {
    .page-4-text{
        width: 100%;
    }
    .page4-para{
        font-size: small !important;
        text-align: justify;  
    }
    .page4-heading{
        padding-top: 0% !important;
        font-size: large !important;
    }
  }

  /* page5 */
  .page5-video{
    position: relative;
    bottom: 5rem;
    left: 25%;
  }
  .page5-boxtext{
    font-family: georgia;
    font-size: small;
  }
  @media (max-width: 575px) {
    .page5-video{
        width: 90% !important;
        left: 5% !important;
        font-size: small;
       
    }
    .page5-boxmobile{
        width: 50% !important;
        font-size: small !important;
    }
}


/* page6 */

.page6-sec{
    background-image: url(img/page67.webp);
    width: 100%;
    background-size: cover;
}
.page6{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding:5rem 0rem;
    
}
@media(max-width:1024px){
    .page6{
        width: 75%;
    }
}
@media (max-width: 768px) {
    
    .page6{
       width: 75%;
       font-size: large;
       padding:0rem 0rem;
    }
    .page6-mob{
        font-size: small !important;
        text-align: justify;
    }
    .quatation{
        height: 1rem !important;
    }
    .join-now{
        width: 100% !important;
        padding: 0 !important;
    }
}
.Subtn,.Embtn{
    border: 2px solid #74b72e;
    width: 10rem;
    }
        .Embtn:hover{
        background-color:rgb(0, 162, 255);
        border: 2px solid rgb(0, 162, 255);
        color: white;
    }
    
    .Subtn:hover{
        background-color:rgb(0, 162, 255);
        border: 2px solid rgb(0, 162, 255);
        color: white;
    }

    .footer-col{
        padding-left: 1rem;
        width: 15%;
    }
    @media (max-width: 768px) {
        .footer-col{
            width: 20%;
        }
    }

    @media (max-width: 575px) {
        .footer-col{
            width: 100% !important;
            text-align: center;
            padding: 0;
        }
        .footer-icon{
        display: none;
        }
    }
.disdiaimer{
    width: 50%;
    margin-left: auto;
    margin-right: 17%;
    font-size:x-small;
    opacity: 0.5;
    padding: 1rem 0;
}
    
@media(max-width:575px){
    .disdiaimer{
        width: 100%;
        margin: 0;
        padding: 1rem;

    }
}


    